body {
    padding: 0;
    margin: 0;
    background: #e7ecf0;
}

.navbar {
    background:#4f8cdb;
}

.nav-link, .navbar-brand {
    color: #ffffff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
    color: #ffffff;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

#map {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 500px;
}