body {
    padding: 0;
    margin: 0;
    background: #e7ecf0;
}

.navbar {
    background:#4f8cdb;
}

.nav-link, .navbar-brand {
    color: #ffffff;
    cursor: pointer;
}

.navbar-inner{
    padding-left:40;
    padding-right:30;
}

.nav-link {
    margin-right: 1em !important;
    color: #ffffff;
}

.nav-link:hover {
    color: #000000;
}

.navbar-collapse {
    justify-content: flex-end;
}

#map {
  position: relative;
  height: 400px;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}



